{% extends "base.html" %} 

{% block content %} 

<h3>Product List</h3>

{% if products %}
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <th scope="row">{{product.product_id}}</th>
      <td>{{product.name}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% else %}
  <p>No polls are available.</p>
{% endif %}

{% endblock %}