{% extends "base.html" %} 

{% load static %}

{% block content %} 

<h3>Sales details</h3>

<link rel="stylesheet" href="{% static 'css/sales.css' %}" />
<script src="{% static 'js/sales.js' %}"></script>

<table class="table table-hover sales-list">
  <colgroup>
    <col class="w-75">
    <col class="w-25">
  </colgroup>
  <thead>
      <tr>
        <td>Product Name</td>
        <td>Sold Quantity</td>
        <td></td>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select class="form-control">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
      </select>
      </td>
      <td>
        <input type="number" class="form-control" value="0" name="quantity" />
      </td>
      <td>
        <button class="btnDel btn btn-danger">
          <i class="fa fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <input type="button" class="btn btn-primary btn-block " id="addrow" value="Add Row" />
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}