{% extends "base.html" %} 

{% load static %}

{% block content %} 

<h3>Sales details</h3>

<link rel="stylesheet" href="{% static 'css/sales.css' %}" />

<script src="{% static 'js/sales.js' %}"></script>

<table class="table table-hover sales-list">
  <colgroup>
    <col class="w-50">
    <col class="w-25">
    <col class="w-25">
  </colgroup>
  <thead>
      <tr>
        <td>Product Name</td>
        <td>Sold Quantity</td>
        <td></td>
      </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <select class="form-control" id="add_product">
        {% if products %}
        {% for product in products %}
          <option value={{ product.product_id }}>{{ product.name }}</option>
        {% endfor %}
        {% else %}
          <option value="0">No available option</option>
        {% endif %}   
        </select>
      </td>
      <td>
        <input type="number" class="form-control" value="0"  id="add_quantity" />
      </td>
      <td>
        <input type="button" class="btn btn-primary btn-block " id="addrow" value="Add Row" />
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}